[submodule "vsd-api-documentation"]
	path = vsd-api-documentation
	url = git@github.com:nuagenetworks/vsd-api-documentation.git
[submodule "vspkdoc"]
	path = vspkdoc
	url = git@github.com:nuagenetworks/vspkdoc.git
