---
layout: posts
callout_image: header-1.jpg
title: <pre><code class="language-js" data-lang="python"><span class="k" style="color:white">import</span> <span style="color:#f3f3f3">nuagenetworks</span></code></pre>
subtitle: Everything About Our Open Source Software
main_page: 1
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post-teaser">
    <header>
      <h1>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          {{ post.title }}
        </a>
      </h1>
      <p class="meta">
        {{ post.date | date: "%B %-d, %Y" }}
        {% if post.author %} - {{ post.author }}{% endif %}
      </p>
    </header>
    <div class="excerpt">
      {{ post.excerpt }}
      <a href="{{ post.url | prepend: site.baseurl }}">Read more...</a>
    </div>
  </div>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
    <i class="fa fa-chevron-left"></i>
    {{ site.nuage_theme.str_prev }}
  </a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
    {{ site.nuage_theme.str_next }}
    <i class="fa fa-chevron-right"></i>
  </a>
  {% endif %}
</div>
{% endif %}
