{% if site.nuage_theme.rss %}
<li>
	<a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="{{ site.nuage_theme.str_rss_follow }}" target="_blank">
		<i class="fa fa-fw fa-rss"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.email_address %}
<li>
	<a href="mailto:{{ site.nuage_theme.email_address }}" title="{{ site.nuage_theme.str_email }}" target="_blank">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.behance %}
<li>
	<a href="https://www.behance.net/{{ site.nuage_theme.behance }}" title="{{ site.nuage_theme.str_follow_on }} Behance" target="_blank">
		<i class="fa fa-fw fa-behance"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.bitbucket %}
<li>
	<a href="https://bitbucket.org/{{ site.nuage_theme.bitbucket }}" title="{{ site.nuage_theme.str_follow_on }} Bitbucket" target="_blank">
		<i class="fa fa-fw fa-bitbucket"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.dribbble %}
<li>
	<a href="https://dribbble.com/{{ site.nuage_theme.dribbble }}" title="{{ site.nuage_theme.str_follow_on }} Dribbble" target="_blank">
		<i class="fa fa-fw fa-dribbble"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.nuage_theme.facebook }}" title="{{ site.nuage_theme.str_follow_on }} Facebook" target="_blank">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.flickr %}
<li>
	<a href="https://www.flickr.com/photos/{{ site.nuage_theme.flickr }}" title="{{ site.nuage_theme.str_follow_on }} Flickr" target="_blank">
		<i class="fa fa-fw fa-flickr"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.github %}
<li>
	<a href="https://github.com/{{ site.nuage_theme.github }}" title="{{ site.nuage_theme.str_follow_on }} GitHub" target="_blank">
		<i class="fa fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.google_plus %}
<li>
	<a href="https://plus.google.com/{{ site.nuage_theme.google_plus }}" title="{{ site.nuage_theme.str_follow_on }} Google+" target="_blank">
		<i class="fa fa-fw fa-google-plus"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.instagram %}
<li>
	<a href="http://instagram.com/{{ site.nuage_theme.instagram }}" title="{{ site.nuage_theme.str_follow_on }} Instagram" target="_blank">
		<i class="fa fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.linkedin %}
<li>
	<a href="{{ site.nuage_theme.linkedin }}" title="{{ site.nuage_theme.str_follow_on }} LinkedIn" target="_blank">
		<i class="fa fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.pinterest %}
<li>
	<a href="http://www.pinterest.com/{{ site.nuage_theme.pinterest }}" title="{{ site.nuage_theme.str_follow_on }} Pinterest" target="_blank">
		<i class="fa fa-fw fa-pinterest"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.nuage_theme.reddit }}" title="{{ site.nuage_theme.str_follow_on }} Reddit" target="_blank">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.soundcloud %}
<li>
	<a href="https://soundcloud.com/{{ site.nuage_theme.soundcloud }}" title="{{ site.nuage_theme.str_follow_on }} SoundCloud" target="_blank">
		<i class="fa fa-fw fa-soundcloud"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.stack_exchange %}
<li>
	<a href="{{ site.nuage_theme.stack_exchange }}" title="{{ site.nuage_theme.str_follow_on }} Stack Exchange" target="_blank">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.steam %}
<li>
	<a href="http://steamcommunity.com/id/{{ site.nuage_theme.steam }}" title="{{ site.nuage_theme.str_follow_on }} Steam" target="_blank">
		<i class="fa fa-fw fa-steam"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.tumblr %}
<li>
	<a href="http://{{ site.nuage_theme.tumblr }}.tumblr.com/" title="{{ site.nuage_theme.str_follow_on }} Tumblr" target="_blank">
		<i class="fa fa-fw fa-tumblr"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.twitter %}
<li>
	<a href="https://twitter.com/{{ site.nuage_theme.twitter }}" title="{{ site.nuage_theme.str_follow_on }} Twitter" target="_blank">
		<i class="fa fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.wordpress %}
<li>
	<a href="https://{{ site.nuage_theme.wordpress }}.wordpress.com/" title="{{ site.nuage_theme.str_follow_on }} WordPress" target="_blank">
		<i class="fa fa-fw fa-wordpress"></i>
	</a>
</li>
{% endif %}

{% if site.nuage_theme.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.nuage_theme.youtube }}" title="{{ site.nuage_theme.str_follow_on }} YouTube" target="_blank">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
