@font-face {
  font-family: 'DIN';
  src: url('../fonts/din-webfont.eot');
  src: url('../fonts/din-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/din-webfont.woff2') format('woff2'),
       url('../fonts/din-webfont.woff') format('woff'),
       url('../fonts/din-webfont.ttf') format('truetype'),
       url('../fonts/din-webfont.svg#dinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/din_medium-webfont.eot');
  src: url('../fonts/din_medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/din_medium-webfont.woff2') format('woff2'),
       url('../fonts/din_medium-webfont.woff') format('woff'),
       url('../fonts/din_medium-webfont.ttf') format('truetype'),
       url('../fonts/din_medium-webfont.svg#din_mediumregular') format('svg');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/din_light-webfont.eot');
  src: url('../fonts/din_light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/din_light-webfont.woff2') format('woff2'),
       url('../fonts/din_light-webfont.woff') format('woff'),
       url('../fonts/din_light-webfont.ttf') format('truetype'),
       url('../fonts/din_light-webfont.svg#din_lightregular') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/din_bold-webfont.eot');
  src: url('../fonts/din_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/din_bold-webfont.woff2') format('woff2'),
       url('../fonts/din_bold-webfont.woff') format('woff'),
       url('../fonts/din_bold-webfont.ttf') format('truetype'),
       url('../fonts/din_bold-webfont.svg#dinbold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/din_black-webfont.eot');
  src: url('../fonts/din_black-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/din_black-webfont.woff2') format('woff2'),
       url('../fonts/din_black-webfont.woff') format('woff'),
       url('../fonts/din_black-webfont.ttf') format('truetype'),
       url('../fonts/din_black-webfont.svg#din_blackregular') format('svg');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: $background-color;
}

// Typography
::selection {
  background: $selection-color;
}
::-moz-selection {
  background: $selection-color;
}
body {
  color: $text-color;
  font-family: $font-family-main;
  font-size: $font-size;
  word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  line-height: 1.3;
  margin: 0.67em 0;
  a {
    color: $text-color;
  }
}
h1 {
  font-size: 2.5em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.15em;
}
blockquote {
    border-left: 2px solid;
    padding: 1em 1em;
}
blockquote p:last-child,
footer p:last-child {
  margin-bottom: 0;
}
table {
  table-layout:fixed;
  width:100%;
  word-wrap:break-word;
  @media (max-width: 1100px) {
    overflow-x: scroll;
    display: inline-block;
  }
}
td,
th {
  padding: 0.5em 1em;
  border: 1px solid $border-color;
  text-align: left;
}
table,
dl,
blockquote,
code,
kbd,
pre,
samp {
  margin: 1em 0;
}
dt {
  font-weight: bold;
}
dd {
    margin-left: 2em;
}
p, ol, ul, dl, .math-display {
  line-height: 1.5;
  margin-bottom: 1em;
}
.math-display {
  display: inline-block;
  width: 100%;
}
ol, ul {
  list-style-position: inside;
}
hr {
  border: 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid #fff;
  margin: 1em 0;
}
a {
  color: $link-color;
  text-decoration: none;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
// Responsive media
iframe, img, embed, object, video {
  max-width: 100%;
}
img[align=left] {
  margin-right: 3%;
}
img[align=right] {
  margin-left: 3%;
}